# dot files
.DS_Store
.idea

# Node.js
node_modules

# TSC
tsconfig.tsbuildinfo

# Scaffold
.env
.scaffold
build
logs

dev_ref
design

test/examples.ts
addon/content/tailwind.js
addon/content/app.css
*.ai
